:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 3rem;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}

:root{
  --bg-color:#000000;
  --text-color:#ffffff;
  --btn-color:#4f51fb;
  --btn-color-hover: #096dfa;
  --side-color:#bd6dd0;
  --thr-color:#7289cb;
}
* {
  inset: 0;
  margin-left: 2 px;
  margin-right: 2 px;
  padding: 0;
}
.hero{
  /* background-color: var(--bg-color); */
}