:root{
  background: url(./assets/bg.png);
  display: flex;
  position: sticky;
}
.body{
  margin: 3rem;
}
.text{
  color: var(--text-color);
  text-transform: uppercase;
  
}
.text-small{
  color: var(--text-color);
  /* color: aqua; */
  text-transform: capitalize; 
}
.sec-color{
  color: var(--side-color);
}
.thr-color{
  color: var(--thr-color);
}
.li-hover-color{
  color: var(--text-color);
}
.li-hover-color:hover{
  color: var(--btn-color);
}
.btn{
  cursor: pointer;
}
.btn-color{
  background-color: var(--btn-color);
}
.btn-color:hover{
  background-color: var(--btn-color-hover);
}
.hero-img img{
  width: 100%;
  height: auto;
}
.scroll-icon{
  /* background-color: var(--text-color); */
  fill: var(--thr-color);
}