.box-container {
    padding: 12px;
    margin-top: 10px;
}

.box {
    /* display: flex; */
    cursor: pointer;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 12px 16px;
    width: 125px;

}

.box:hover {
    border-radius: 16px;
    background: radial-gradient(63.44% 63.44% at 50% 50%, #c2ffe2 0, #fff 100%), #fff;
    transition: ease-in-out opacity .25s cubic-bezier(.75, 0, .25, 1);
    /* z-index: -1; */
}

.box-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 70px;
    width: 70px; */
}

.box-icon-img {
    width: 30px;
    height: 30px;
}

.box-text {
    text-transform: capitalize;
    height: 48px;
    font-size: 14px;
    line-height: 22px;
    word-break: keep-all;
    font-weight: 600;
    font-family: "Macan", "helvertica Neue", Arial, Helvetica, sans-serif;
    margin-top: 10px;
}


.pop-top {
    max-width: 1400px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    align-items: center;
    pointer-events: none;
}

.pop-top::-webkit-scrollbar {
    display: none;
}

.pop-section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    overflow-x: auto;
    align-items: center;
    /* white-space: nowrap; */
}

.pop-section-data {
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 188px;
    min-height: 235px;
    border-radius: 20px;
    margin: 12px 4px;
    padding: 15px 6px 6px;
    cursor: pointer;

}

.pop-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 0 10px;
    color: var(--bg-color);
}

.pop-img {
    width: 100%;
    max-width: 188px;
    border-radius: 12px;
    display: block;
    object-fit: cover;
}

/* arrow-btn */

.pop-btn-color {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    width: 70px;
    border-radius: 50px;
}

.arrows {
    margin: 10px;
    padding: 10px;
    fill: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.backward-btn, .forward-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    z-index: 10;
    pointer-events: auto;
}
/* Left button */
.backward-btn {
    left: 0px; /* Adjust spacing as needed */
}

/* Right button */
.forward-btn {
    right: 0px; /* Adjust spacing as needed */
}

.backward-btn:hover,
.forward-btn:hover {
    filter: brightness(1.2);
    transition: ease-in-out 0.25s;
    transform: translateY(-50%) scale(1.1);
}

/* color-mesh */
#pop-img-1 {
    background-color: var(--pop-1-bg);
}

#pop-img-2 {
    background-color: var(--pop-2-bg);
}

#pop-img-3 {
    background-color: var(--pop-3-bg);
}

#pop-img-4 {
    background-color: var(--pop-4-bg);
}

#pop-img-5 {
    background-color: var(--pop-5-bg);
}

#pop-img-6 {
    background-color: var(--pop-6-bg);
}

#pop-img-7 {
    background-color: var(--pop-7-bg);
}

#pop-img-8 {
    background-color: var(--pop-8-bg);
}

#pop-img-9 {
    background-color: var(--pop-9-bg);
}

#pop-img-10 {
    background-color: var(--pop-10-bg);
}

#pop-img-11 {
    background-color: var(--pop-11-bg);
}

#pop-img-12 {
    background-color: var(--pop-12-bg);
}

.pop-section-data:hover {
    filter: brightness(1.08);
    transition: all 0.15s ease-in-out;
    transform: scale(1.04);
}

