@import "../index.css";

.body {
    font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
.body-data{
    padding-top: 50px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    /* min-height: 100vh; */
}