:root {
    --bg-color: #ffffff;
    --text-color: #222325;
    --text-color-light: #62646a;
    --unique-color: #1dbf73;
    --bg-unique-color: #013a12;
    --bottom-line-color:#e4e5e7;
    --fill-color-logo:#404145;

}

.bg-unique-color{
    color: var(--unique-color);
}
